.container {
    display: grid;
    grid-template-columns: repeat(1, minmax(250px, 1fr));
    grid-template-rows: repeat(2, minmax(250px, 1fr));
    
    padding: 1rem;
    
    width: 100%;
    max-width: 1200px;
    height: 100%;
    
    margin: 0 auto;
}

.container > section:first-child {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
}

.container > section:first-child > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container > section:first-child > div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.container > section:first-child > div:last-child > div:first-child {
    margin: 0 auto 1rem 0;
}

.container > section:first-child > div:last-child > div:nth-child(2) {
    margin: 0 auto 1rem auto;
}

.container > section:first-child > div:last-child > div:last-child {
    margin: 0 0 0 auto;
}

.container > section:last-child {
    display: flex;
    align-items: bottom 0;
    justify-content: space-between;
}

.container > section:last-child > div:first-child {
    margin: auto 0 7.5rem 0;
}

.container > section:last-child > div:nth-child(2) {
    margin: auto 0.5rem 5rem 0.5rem;
}

.container > section:last-child > div:last-child {
    margin: auto 0 2.5rem 0;
}
