* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 93.75%;

    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

body {
    font-size: 1rem;
    font-family: 'Spartan' , sans-serif;
}

#root {
    width: 100vw;
    height: 100vh;    
}

@media(max-width: 940px) {
    #root {
        height: 100%;
    }
}

@media(max-width: 400px) {

    body {
        font-size: 0.8rem;
    }
}

